name: Build & Push Images

on:
  workflow_dispatch:
    inputs:
      container:
        type: choice
        required: true
        description: What image you want to build?
        options: 
        - laravel
        - nginx
      tags:
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - 
        name: Format Docker tags for metadata-action
        id: format
        run: |
          TAGS="${{ github.event.inputs.tags }}"
          IFS=',' read -ra TAG_ARRAY <<< "$TAGS"
      
          FORMATTED_TAGS=""
          for tag in "${TAG_ARRAY[@]}"; do
            FORMATTED_TAGS+="type=raw,value=${tag}"$'\n'
          done
      
          FORMATTED_TAGS="${FORMATTED_TAGS%$'\n'}"
          echo "tags<<EOF" >> $GITHUB_OUTPUT
          echo "$FORMATTED_TAGS" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - 
        name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5.7.0
        with:
          images: galalem/${{ github.event.inputs.container }}
          tags: ${{ steps.format.outputs.tags }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./galalem/${{ github.event.inputs.container }}
          tags: |
            ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          provenance: true
          sbom: true
